### Import Libraries

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Import Dataframe

In [70]:
df = pd.read_csv('test.csv')

### Exploratory Data Analysis

In [72]:
df.head(10)

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,20758,Male,26.899886,1.848294,120.644178,yes,yes,2.938616,3.000000,Sometimes,no,2.825629,no,0.855400,0.000000,Sometimes,Public_Transportation
1,20759,Female,21.000000,1.600000,66.000000,yes,yes,2.000000,1.000000,Sometimes,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
2,20760,Female,26.000000,1.643355,111.600553,yes,yes,3.000000,3.000000,Sometimes,no,2.621877,no,0.000000,0.250502,Sometimes,Public_Transportation
3,20761,Male,20.979254,1.553127,103.669116,yes,yes,2.000000,2.977909,Sometimes,no,2.786417,no,0.094851,0.000000,Sometimes,Public_Transportation
4,20762,Female,26.000000,1.627396,104.835346,yes,yes,3.000000,3.000000,Sometimes,no,2.653531,no,0.000000,0.741069,Sometimes,Public_Transportation
5,20763,Male,19.799054,1.844751,59.605028,yes,yes,2.000000,4.000000,Sometimes,no,2.722063,no,2.000000,1.283673,no,Automobile
6,20764,Male,18.000000,1.728834,51.442293,yes,yes,1.202075,3.000000,Sometimes,no,1.087166,no,0.788585,1.000000,Sometimes,Public_Transportation
7,20765,Male,20.000000,1.810000,80.000000,yes,yes,2.000000,3.000000,Always,no,2.000000,no,3.000000,0.000000,no,Automobile
8,20766,Male,21.000000,1.700000,80.000000,yes,yes,2.000000,3.000000,Frequently,yes,2.000000,no,0.000000,2.000000,no,Public_Transportation
9,20767,Female,21.000000,1.560000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Gender                          13840 non-null  object
 2   Age                             13840 non-null  float64
 3   Height                          13840 non-null  float64
 4   Weight                          13840 non-null  float64
 5   family_history_with_overweight  13840 non-null  object
 6   FAVC                            13840 non-null  object
 7   FCVC                            13840 non-null  float64
 8   NCP                             13840 non-null  float64
 9   CAEC                            13840 non-null  object
 10  SMOKE                           13840 non-null  object
 11  CH2O                            13840 non-null  float64
 12  SCC                             13840 non-null  object
 13  FAF                             13840 non-null  float64
 14  TUE                             13840 non-null  float64
 15  CALC                            13840 non-null  object
 16  MTRANS                          13840 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 1.8+ MB

#### One Hot Encoding

In [75]:
df = pd.get_dummies(df, columns=['Gender'], prefix='Gender', dtype='uint8')
df = pd.get_dummies(df, columns=['family_history_with_overweight'], prefix='Line_of_Overweights', dtype='uint8')
df = pd.get_dummies(df, columns=['FAVC'], prefix='FAVC', dtype='uint8')
df = pd.get_dummies(df, columns=['SMOKE'], prefix='SMOKES', dtype='uint8')
df = pd.get_dummies(df, columns=['SCC'], prefix='SCC', dtype='uint8')

In [76]:
df.head()

,id,Age,Height,Weight,FCVC,NCP,CAEC,CH2O,FAF,TUE,...,Gender_Female,Gender_Male,Line_of_Overweights_no,Line_of_Overweights_yes,FAVC_no,FAVC_yes,SMOKES_no,SMOKES_yes,SCC_no,SCC_yes
0,20758,26.899886,1.848294,120.644178,2.938616,3.000000,Sometimes,2.825629,0.855400,0.000000,...,0,1,0,1,0,1,1,0,1,0
1,20759,21.000000,1.600000,66.000000,2.000000,1.000000,Sometimes,3.000000,1.000000,0.000000,...,1,0,0,1,0,1,1,0,1,0
2,20760,26.000000,1.643355,111.600553,3.000000,3.000000,Sometimes,2.621877,0.000000,0.250502,...,1,0,0,1,0,1,1,0,1,0
3,20761,20.979254,1.553127,103.669116,2.000000,2.977909,Sometimes,2.786417,0.094851,0.000000,...,0,1,0,1,0,1,1,0,1,0
4,20762,26.000000,1.627396,104.835346,3.000000,3.000000,Sometimes,2.653531,0.000000,0.741069,...,1,0,0,1,0,1,1,0,1,0

In [77]:
df = df.drop(columns = ['Gender_Male', 'Line_of_Overweights_no', 'FAVC_yes' ,'SMOKES_no', 'SCC_no'])

In [78]:
df.head()

,id,Age,Height,Weight,FCVC,NCP,CAEC,CH2O,FAF,TUE,CALC,MTRANS,Gender_Female,Line_of_Overweights_yes,FAVC_no,SMOKES_yes,SCC_yes
0,20758,26.899886,1.848294,120.644178,2.938616,3.000000,Sometimes,2.825629,0.855400,0.000000,Sometimes,Public_Transportation,0,1,0,0,0
1,20759,21.000000,1.600000,66.000000,2.000000,1.000000,Sometimes,3.000000,1.000000,0.000000,Sometimes,Public_Transportation,1,1,0,0,0
2,20760,26.000000,1.643355,111.600553,3.000000,3.000000,Sometimes,2.621877,0.000000,0.250502,Sometimes,Public_Transportation,1,1,0,0,0
3,20761,20.979254,1.553127,103.669116,2.000000,2.977909,Sometimes,2.786417,0.094851,0.000000,Sometimes,Public_Transportation,0,1,0,0,0
4,20762,26.000000,1.627396,104.835346,3.000000,3.000000,Sometimes,2.653531,0.000000,0.741069,Sometimes,Public_Transportation,1,1,0,0,0

#### Label Encoding

In [80]:
from sklearn.preprocessing import LabelEncoder

In [81]:
le = LabelEncoder()

In [82]:
le.fit(df['CALC'])
df['Alc_Consumption'] = le.transform(df['CALC'])

In [83]:
le.fit(df['MTRANS'])
df['Mode_of_Transport'] = le.transform(df['MTRANS'])

In [84]:
le.fit(df['CAEC'])
df['Nibbling'] = le.transform(df['CAEC'])

In [85]:
df = df.drop(columns = ['CALC', 'MTRANS', 'CAEC'])

In [86]:
df.head()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Gender_Female,Line_of_Overweights_yes,FAVC_no,SMOKES_yes,SCC_yes,Alc_Consumption,Mode_of_Transport,Nibbling
0,20758,26.899886,1.848294,120.644178,2.938616,3.000000,2.825629,0.855400,0.000000,0,1,0,0,0,2,3,2
1,20759,21.000000,1.600000,66.000000,2.000000,1.000000,3.000000,1.000000,0.000000,1,1,0,0,0,2,3,2
2,20760,26.000000,1.643355,111.600553,3.000000,3.000000,2.621877,0.000000,0.250502,1,1,0,0,0,2,3,2
3,20761,20.979254,1.553127,103.669116,2.000000,2.977909,2.786417,0.094851,0.000000,0,1,0,0,0,2,3,2
4,20762,26.000000,1.627396,104.835346,3.000000,3.000000,2.653531,0.000000,0.741069,1,1,0,0,0,2,3,2

#### Rename Columns

In [88]:
df = df.rename(columns = {'NCP':'Number_of_Meals'})
df = df.rename(columns = {'FCVC':'Vegetable_consumption_frequency'})
df = df.rename(columns = {'CH2O':'Water_Consumption'})
df = df.rename(columns = {'FAF':'Exercise_Frequency'})
df = df.rename(columns = {'TUE':'Screen_Time'})

In [89]:
df.head()

,id,Age,Height,Weight,Vegetable_consumption_frequency,Number_of_Meals,Water_Consumption,Exercise_Frequency,Screen_Time,Gender_Female,Line_of_Overweights_yes,FAVC_no,SMOKES_yes,SCC_yes,Alc_Consumption,Mode_of_Transport,Nibbling
0,20758,26.899886,1.848294,120.644178,2.938616,3.000000,2.825629,0.855400,0.000000,0,1,0,0,0,2,3,2
1,20759,21.000000,1.600000,66.000000,2.000000,1.000000,3.000000,1.000000,0.000000,1,1,0,0,0,2,3,2
2,20760,26.000000,1.643355,111.600553,3.000000,3.000000,2.621877,0.000000,0.250502,1,1,0,0,0,2,3,2
3,20761,20.979254,1.553127,103.669116,2.000000,2.977909,2.786417,0.094851,0.000000,0,1,0,0,0,2,3,2
4,20762,26.000000,1.627396,104.835346,3.000000,3.000000,2.653531,0.000000,0.741069,1,1,0,0,0,2,3,2

In [90]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns_to_normalize = ['Age', 'Height', 'Weight']
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

scaler = MinMaxScaler()
columns_to_normalize = ['Vegetable_consumption_frequency', 'Water_Consumption', 'Exercise_Frequency', 'Screen_Time']
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

In [91]:
df.head()

,id,Age,Height,Weight,Vegetable_consumption_frequency,Number_of_Meals,Water_Consumption,Exercise_Frequency,Screen_Time,Gender_Female,Line_of_Overweights_yes,FAVC_no,SMOKES_yes,SCC_yes,Alc_Consumption,Mode_of_Transport,Nibbling
0,20758,0.274466,0.751498,0.647675,0.969308,3.000000,0.912815,0.285133,0.000000,0,1,0,0,0,2,3,2
1,20759,0.148936,0.283019,0.214188,0.500000,1.000000,1.000000,0.333333,0.000000,1,1,0,0,0,2,3,2
2,20760,0.255319,0.364821,0.575933,1.000000,3.000000,0.810939,0.000000,0.125251,1,1,0,0,0,2,3,2
3,20761,0.148495,0.194579,0.513014,0.500000,2.977909,0.893209,0.031617,0.000000,0,1,0,0,0,2,3,2
4,20762,0.255319,0.334709,0.522265,1.000000,3.000000,0.826766,0.000000,0.370534,1,1,0,0,0,2,3,2

In [92]:
df.to_csv('output.csv', index=False)